{% extends 'base.html' %}
{% block title %}RecipeView{% endblock %}
{% block content %}
<div class="recipe">
  <h2>{{ recipe.getTitle }}, by {{ recipe.user.username }} ({% if ratedByUser %}Public{% else %}Private{% endif %})</h2>
  <div class="ingredients">
    <h3>Ingredients</h3>

    <ul>
    {% for ingredient, ingredient_data in recipe.recipeJSON.ingredients.items %}
      <li> {{ ingredient_data.amount }} {{ ingredient_data.unit }} {{ ingredient }}</li>
    {% endfor %}
    </ul>

  </div>
  <div class="instructions">
    <h3>Instructions</h3>

    <ul>
      {% for instruction  in recipe.recipeJSON.instructions %}
        <li> {{ instruction }} </li> 
      {% endfor %}
    </ul>
    <p>Estimated price: £{{ recipe.estimatePrice|floatformat:2 }}</p>

  </div>
  
 

  
  {% if recipe.shared %}
    <p id="currentRating">This recipe is rated at {{ recipe.sharedDetails.currentRating|floatformat:1 }}, with feedback from {{ recipe.sharedDetails.numRatings }} user(s).</p>
    {% if ratedByUser %}
      You have already rated this meal at {{ givenRating }} stars!
    {% else %}
      <p id="rate_message">Give this recipe a rating!</p>
      {% include 'stars.html' %}
    {% endif %}
  {% else %}
  <div class="upload">
    <p id="rate_message">This recipe is currently private. Give it its first rating to make it public!</p>
    {% include 'stars.html' %}    
  </div>
  {% endif %}
</div>
{% endblock %}